name: Build

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  pull_request:
  merge_group:

jobs:
  build-cmake:
    runs-on: windows-latest
    env:
      CARGO_HTTP_MULTIPLEXING: false

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
          workspaces: |
              src/mastersrv
              src/masterping
              ./

    - name: Build mastersrv
      run: |
        cd src/mastersrv
        cargo build

    - name: Build masterping
      run: |
        cd src/masterping
        cargo build

    - name: Build in release mode
      run: |
        mkdir release
        cd release
        cmake -A x64 -DEXCEPTION_HANDLING=OFF -DVULKAN=OFF -DCMAKE_BUILD_TYPE=Release -Werror=dev -DDOWNLOAD_GTEST=ON -DCMAKE_RUNTIME_OUTPUT_DIRECTORY_RELEASE=. ..
        cmake --build . --config Release --target everything

    - name: Package
      run: |
        cd release
        cmake --build . --config Release --target package_default
        mkdir artifacts
        mv *-win64.zip artifacts

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ddnet-windows
        path: release/artifacts
